/*
 * react-calendar-heatmap styles
 *
 * All of the styles in this file are optional and configurable!
 * The github and gitlab color scales are provided for reference.
 */

 .react-calendar-heatmap text {
    font-size: 8px;
    fill: #aaa;
  }

  
  .react-calendar-heatmap .react-calendar-heatmap-small-text {
    font-size: 5px;
  }
  
  /*
   * Default color scale
   */
  
  .react-calendar-heatmap .color-empty {
    fill: #eeeeee;
  }
  .react-calendar-heatmap .dark-color-empty {
    fill: #eeeeee1a;
  }
  
  .react-calendar-heatmap .color-filled {
    fill: #8cc665;
  }
  
  /*
   * Github color scale
   */

  .react-calendar-heatmap .color-github-1 {
    fill: #f7d1cd;
  }

  .react-calendar-heatmap .color-github-2 {
    fill: #e8c2ca;
  }

  .react-calendar-heatmap .color-github-3 {
    fill: #d1b3c4;
  }

  .react-calendar-heatmap .color-github-4 {
    fill: #b392ac;
  }

  .react-calendar-heatmap .color-github-5 {
    fill: #735d78;
  }


  .react-calendar-heatmap .dark-color-github-1 {
    fill: #0b132b;
  }

  .react-calendar-heatmap .dark-color-github-2 {
    fill: #1c2541;
  }
 
  .react-calendar-heatmap .dark-color-github-3 {
    fill: #3a506b;
  }

    .react-calendar-heatmap .dark-color-github-4 {
    fill: #5bc0be;
  }

  .react-calendar-heatmap .dark-color-github-5 {
    fill: #6fffe9;
  }
